body{
  font-family: 'Open Sans',sans-serif;
  background-color: white;

}
#calculator{
  width: 350px;
  height: 550px;
  background-color: lightgrey;
  margin: auto;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}

#result{
  height: 120px;
}
#buttons{
  height: 430px;
}
#input{
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 20px;
  color: black;
}
#output{
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
  color: black;
}
.operator, .number, .empty{
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-width: 0;
  font-size: 20px;
}
.number, .empty{
  background-color: lightgrey;
}
.number, .operator{
 cursor: pointer; /* gives all number and operator buttons the ability to be clicked */
}

button:nth-child(4){
  background-color: yellow;
}
button:nth-child(8){
  background-color: yellow;
}
button:nth-child(12){
  background-color: yellow;
}
button:nth-child(16){
  background-color: yellow;
}
button:nth-child(20){
  background-color: green;
}
